<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>book</servlet-name>
        <servlet-class>controller.BookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyAppointmentController</servlet-name>
        <servlet-class>controller.MyAppointmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyAppoinmentDetailController</servlet-name>
        <servlet-class>controller.MyAppoinmentDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyReservationController</servlet-name>
        <servlet-class>controller.MyReservationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyReservationDetailController</servlet-name>
        <servlet-class>controller.MyReservationDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthorController</servlet-name>
        <servlet-class>controller.AuthorController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentListController</servlet-name>
        <servlet-class>controller.AppointmentListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReservationListController</servlet-name>
        <servlet-class>controller.ReservationListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthorDetailController</servlet-name>
        <servlet-class>controller.AuthorDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentListCartController</servlet-name>
        <servlet-class>controller.AppointmentListCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookReviewController</servlet-name>
        <servlet-class>controller.BookReviewController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>book</servlet-name>
        <url-pattern>/book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyAppointmentController</servlet-name>
        <url-pattern>/myAppointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyAppoinmentDetailController</servlet-name>
        <url-pattern>/myAppoinmentDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyReservationController</servlet-name>
        <url-pattern>/myReservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyReservationDetailController</servlet-name>
        <url-pattern>/myReservationDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthorController</servlet-name>
        <url-pattern>/author</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentListController</servlet-name>
        <url-pattern>/appointmentList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReservationListController</servlet-name>
        <url-pattern>/reservationList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthorDetailController</servlet-name>
        <url-pattern>/AuthorDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentListCartController</servlet-name>
        <url-pattern>/appointmentListCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookReviewController</servlet-name>
        <url-pattern>/bookReview</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
